/*------------------------------------*\
    #COLOR_SETTINGS
\*------------------------------------*/

// Global Colors
// ==========================================================================

$clr-grass:           #13be6b;

$clr-fire:            #fd2c2c;

$clr-water:           #4FC1E9;
